/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
    margin: 0.9em;
}

/* Navbar Styles */
.navbar {
    background-color: #26085e;
    color: #fff;
    padding: 0.9em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 5;

}



.navbar-content a {
    font-size: 1.2em;
}   

a:hover {
    color: #d2b5a4;
}

html {
    scroll-behavior: smooth;
}

/* Hero Section Styles */
.hero {
    display: flex;
    justify-content: center;
    padding: 7.5em ;
    background-color: #d2b5a4;
}

.hero-content {
    display:flex; 
    justify-content: space-between;
    align-items: center ;
    width: 90%;
}
.hero-text h2{
    font-size: 1;


}

.hero-text h1 {
    font-size: 3em;
    background: linear-gradient(90deg,#ff0000,#00ffe1,#7300ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text p {
    font-size: 0.9em;
    margin-top: 0.5em;
    color: #000000;
  
}

.hero-image img {
    width: 550px;
}

/* About Section Styles */
.about {
    padding: 1.5em 0 ;
    text-align: center;
    background-color: #26085e;
}

.about h2 {
    font-size: 40px;
    margin-bottom:0.5em;
    color: #fff200;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2.2em;
    padding: 3em;
}

.about .paragraf {
    flex: 1;
    color: #ffffff;
    text-align: justify;
    
}

@media(max-width:450px){
    .about-content{
        flex-direction: column;
    }
}


/* Gallery Section Styles */
.gallery {
    padding: 5em 0;
    text-align: center;
    background-color: #d2b5a4;
}

.gallery h2 {
    font-size: 3.5em;
    margin-bottom: 1em;
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.1em;
    
}

.a{
   border-radius: 10px;
   overflow: hidden;
}

.gallery-content img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    filter: grayscale(1);
    border-radius: 5px;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}
 
    
.gallery-content img:hover {
    filter: grayscale(0);
    transform: scale(1.1); 
}


.footer {
    background-color: #26085e;
    color: #fff;
    padding: 1em ;
}

.footer-content {
    display: flex;
    justify-content: space-between ; 
    width: 90%;
     margin: 0 auto; 
    }

.footer-left {
    display: flex; /* Flex untuk gambar dan teks dalam satu baris */
    align-items: center;
}

.footer-left img {
    width: 50px; 
    margin-right: 10px; 
}

.footer-right {
    text-align: right; 
}

@media (max-width: 768px) {
    .footer-content {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    .footer-right {
        text-align: center; 
        margin-top: 10px; 
    }

    .gallery, .gallery-content {
        flex-direction: center;
    }

    .hero-content {
        flex-direction: column-reverse;
    }
}

@media (max-width: 480px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        padding: 1em; 
}
}